@import 
url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.main{
    width: 100%;
    height: 99vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,
    rgba(0, 0, 0, 0.5)50%), url('images/gradient6.jpeg');
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    border: 1px solid red;
}

.navbar{
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
}

.icon{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 120px;
    float: left;
    font-size: 35px;
    color: hsl(0, 0%, 100%);
    padding-left: 35px;
    font-weight: 500;
}

.menu{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 90%;
    height: 100%;
    display: flex;
    gap: 50px;
    float: right;
    justify-content: flex-end;
    align-items: center;
}

ul li{
    list-style: none;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out; 
}

ul li a:hover{
    color: rgb(255, 166, 0);
}

.content{
    height: 90%;
    display: flex;
    justify-content: center;
}

.heading{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    /*border: 1px solid red;*/
}

h3{
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.overview{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: 350;
    width: 95%;
    margin-bottom: 35px;
}

.btn-start{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 290px;
    height: 60px;
    background-color: rgba(165, 42, 42, 0);
    color: white;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover{
    background-color: #df7e01;
    transform: scale(1.05);
}